body{
    font-family: "helvetica" ;
}

h1 {
    font-family: "helvetica" ; color: cornflowerblue
}

h2 {
    color:cornflowerblue ;
}

li.pink_text {
    color:hotpink
}

a.orange_text {
    color:darkorange
}

p {
    color:darkseagreen
}